<div id="app">
  <header>
    <div class="nav">
      <span>#understandlogicly</span>
      <a href="/">
      {{#link-to 'index'}}
        <%= image_tag("logo-small-white.png") %>
      {{/link-to}}
      <span class="title">Logicly</span>
    </div>
  </header>

  <div>
    {{outlet}}
  </div>

  <footer>
    <div class="foot">
      <%= image_tag("logo-small-white.png") %>
      <span>
        If Ideas have the power to change the world, then <br>we need to ensure everyone understands those ideas.
      </span>
    </div>
    <div class="links">
      <a href="/"><h1>Logicly</h1></a>
      <span>© 2014 logicly.org</span>
      <div class="social">
        <a href="https://twitter.com/2logicly" target="_BLANK">
          <%= image_tag("icons/webicon-twitter.png") %>
        </a>
        <a href="https://plus.google.com/u/5/b/107502998479803230755/107502998479803230755/about" target="_BLANK">
          <%= image_tag("icons/webicon-googleplus.png") %>
        </a>
        <a href="https://www.facebook.com/2Logicly" target="_BLANK">
          <%= image_tag("icons/webicon-facebook.png") %>
        </a>
      </div>
    </div>
  </footer>
</div>