<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Logicly</title>
    <%= favicon_link_tag 'icons/favicon.ico' %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="v1">
    <%= render 'layouts/logicly-v1/templates' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>