<!DOCTYPE html>
<html>
  <head>
    <title>Logicly</title>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= favicon_link_tag 'icons/favicon.ico' %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/logicly-v1/templates' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>